.crossed {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-inline: auto;
  margin-top: 176px;
  padding-bottom: 8px;
  padding-top: 8px;
  @include tablet {
    margin-top: 100px;
  }
  
 
  &__text {
    color: var(--black);
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    @include desktop-small {
      font-size: 30px;
    }
    @include mobile {
      font-size: 20px;
    }
    span {
      color: #999795;
      font-size: 54px;
      font-weight: 400;
      line-height: 63.72px;
      text-decoration: line-through;
      text-decoration-thickness: 3px;
      @include desktop-small {
        font-size: 30px;
        word-wrap: break-word;
      }
      @include mobile {
        font-size: 20px;
        line-height: 20px;
        text-decoration-thickness: 1.5px;
      }
    }
   
  }
}
