html,
body {
  font-family: var(--ff);

}
body {
  background: #f5f3f4;
  
}
.wrapper {
  max-width: 1920px;
  width: 100%;
}
.container {
  max-width: 1440px;
  margin-inline: auto;
  padding: 0 20px;
  
}

.btn {
  border-radius: 10.5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 8px 19px;
  color: var(--black);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  @include mobile {
    font-size: 10px;
    padding: 5px 12px;
  }
}

